*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Flamenco', cursive;
    font-weight: 400;
    color: rgb(205, 195, 50);
}

a:visited{
    color: rgb(205, 195, 50);
}
/* OPCIONAL */
.Grass{
  background-image: url("https://www.pokexperto.net/torneos/skin/1.png");
}
.Bug{
  background-image: url("https://www.pokexperto.net/torneos/skin/9.png");
}
.Dragon{
  background-image: url("https://www.pokexperto.net/torneos/skin/15.png");
}
.Electric{
  background-image: url("https://www.pokexperto.net/torneos/skin/14.png");
}
.Fighting{
  background-image: url("https://www.pokexperto.net/torneos/skin/5.png");
}
.Fire{
  background-image: url("https://www.pokexperto.net/torneos/skin/3.png");
}
.Flying{
  background-image: url("https://www.pokexperto.net/torneos/skin/16.png");
}
.Ground{
  background-image: url("https://www.pokexperto.net/torneos/skin/11.png");
}
.Ice{
  background-image: url("https://www.pokexperto.net/torneos/skin/12.png");
}
.Psychic{
  background-image: url(https://www.pokexperto.net/torneos/skin/6.png);
}
.Rock{
  background-image: url(https://www.pokexperto.net/torneos/skin/10.png);
}
.Steel{
  background-image: url(https://www.pokexperto.net/torneos/skin/13.png);
}
.Water{
  background-image: url(https://www.pokexperto.net/torneos/skin/2.png);
}
.Normal{
  background-image: url(https://www.pokexperto.net/torneos/skin/4.png);
}
.Dark{
  background-image: url(https://www.pokexperto.net/torneos/skin/8.png);
}


/* MAIN */
.cambio{
  color: whitesmoke;
  background-size: cover;
  font-size: 45px;
  text-align: center;
}
.grid{
    display: grid;
        grid-template-columns: 35% 40% 25%;
}
.one{
    grid-column: 1;
    border: 1px solid black;
}
.two{
    grid-column: 2;
    background-color: rgb(36, 0, 121);
    padding: 30px;
    font-size: larger;
    color: whitesmoke;
}
.three{
    grid-column: 3;
    background-color: rgb(36, 0, 121);
}
.flex{
  display: flex;
  color: blanchedalmond;
  background-color: rgb(0, 0, 0);
}
.esqDerecha{
  float: right;
  height: 40px;
}
.padding{
  padding:20px;
}

/* FOOTER */
.footer {
  background: linear-gradient(to bottom, rgb(0, 0, 0), #74a5ba);
}
.footer__ul{
  display: flex;
    justify-content: center;
  padding-top: 20px;
}
.footer__ul img{
  margin: 10px;
  padding: 5px;
  width: 3.5em;
}
.footer__p{
  color: #fffb00;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 5px #1100ff;
  align-items: center;
  align-self: end;
}
.riolu{
  transform: scale(2, 1.5);
  margin-left: 13%;
  margin-bottom: 70px;
}