*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: content-box;
}

ol, ul{
  padding-left: 0;
}

a{
    text-decoration: none;
    font-family: 'Flamenco', cursive;
    font-weight: 400;
    color: rgb(205, 195, 50);
}
a:visited{
    color: rgb(205, 195, 50);
}


/* MAIN */
.cambio{
  color: whitesmoke;
  background-size: cover;
  font-size: 45px;
  text-align: center;
}
.grid{
    display: grid;
        grid-template-columns: 35% 40% 25%;
}
.one{
    grid-column: 1;
    border: 1px solid black;
}
.two{
    grid-column: 2;
    background-color: rgb(36, 0, 121);
    padding: 30px;
    font-size: larger;
    color: whitesmoke;
}
.three{
    grid-column: 3;
    background-color: rgb(36, 0, 121);
}
#btn{
  background-color: rgb(0, 0, 0);
}
.esqDerecha{
  float: right;
  height: 40px;
}
.absolute{
  position: absolute;
  z-index: 1;
}
.padding{
  padding:20px;
}

.margin{
  border: 7px solid rgb(238, 255, 0);
  border-radius: 3px;
  background-color: rgb(170, 255, 255);
  width: auto;
  padding: 0 5px;
}

.flex{
  display: flex;
  margin: 0;
}

.between{
  justify-content: space-between;
}

.imgComp{
  border: 3px solid gray;
  padding: 0 18px;
  background-image: url("../Multimedia/Img/fondo-prueba.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* FOOTER */
.footer {
  background: linear-gradient(to bottom, rgb(0, 0, 0), #74a5ba);
}
.footer__ul{
  display: flex;
    justify-content: center;
  padding-top: 20px;
}
.footer__ul img{
  margin: 10px;
  padding: 5px;
  width: 3.5em;
}
.footer__p{
  color: #fffb00;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 5px #1100ff;
  align-items: center;
  align-self: end;
}
.riolu{
  justify-content: center;
  object-fit: contain;
}



/* AUTOCOMPLETAR */
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  overflow-y: scroll;
  height: 150px;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items li {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items li:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}